.container {
    max-width: 600px;
    width: 600px;
    margin: auto;
    font-family: 'DM Sans', 'montserrat', san-serif;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px
}

.accordion__item {
    margin-bottom: 10px
}

.accordion__item__header {
    
    background-image: linear-gradient(to right, #0e2b4d, #2c5583);

    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    color: #fff;
    font-family: 'sarabun', 'montserrat', 'DM Sans', san-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

.accordion__item__header::before {
    height: 15px;
    width: 15px;
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    transition: .5s all;
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff
}

.accordion__item__header .active {
    background-color: #33a0ff;
    color: #fff;
    transition: .4s
}

.accordion__item__header. active::before {
    transform: rotate(-135deg);
    top: 23px
}

.accordion__item__content {
    margin-left: 10px;
    font-size: 14px;
    overflow-y: hidden;
    padding: 0;
    display: none;
}